PORT=3000
DATABASE_URL=postgresql://postgres:TU_PASSWORD@TU_HOST:5432/postgres
DATABASE_SSL=true
APP_TIMEZONE=America/Mexico_City
JWT_SECRET=CAMBIA_ESTE_VALOR_POR_UN_SECRETO_SEGURO
JWT_EXPIRES_IN=15m
CORS_ORIGIN=http://localhost:5500,http://localhost:5501,http://127.0.0.1:5500,http://127.0.0.1:5501
PORTAL_PUBLIC_URL=http://localhost:5501
SERVE_ATM=false
MAIL_ENABLED=true
MAIL_TRANSPORT=api
MAIL_API_PROVIDER=brevo
MAIL_API_KEY=TU_CLAVE_API_DE_BREVO
MAIL_FROM=Banco ATM <tu-correo@ejemplo.com>
TOTP_ENCRYPTION_KEY=
FIREBASE_PROJECT_ID=tu-proyecto-de-firebase
FIREBASE_CLIENT_EMAIL=push@tu-proyecto-de-firebase.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=PEGA_AQUI_LA_CLAVE_DE_LA_CUENTA_DE_SERVICIO_CON_\n_ESCAPADOS
